<h1>Sign Up</h1>
<div class="users new">
  <%= form_with(model: @user, local: true) do |f| %>

    <!-- Error Messages Display Block -->
    <% if @user.errors.any? %>
      <div class="error-messages">
        <h2>There are errors:</h2>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <!-- User Form Fields -->
    <table summary="User form field">
      <tr>
        <th>Name</th>
        <td><%= f.text_field(:name) %></td>
      </tr>
      <tr>
        <th>Email</th>
        <td><%= f.text_field(:email) %></td>
      </tr>

      <!-- Role Field Logic for Admin -->
      <% if current_user && current_user.admin? %>
        <tr>
          <th>Role</th>
          <td><%= f.select :role, User.roles.keys %></td>
        </tr>
      <% else %>
        <tr>
          <th>Role</th>
          <td><%= f.select :role, User.roles.slice("teacher", "student").keys %></td>
        </tr>
      <% end %>

      <tr>
        <th>Password</th>
        <td><%= f.password_field(:password) %></td>
      </tr>
      <tr>
        <th>Confirm Password</th>
        <td><%= f.password_field(:password_confirmation) %></td>
      </tr>
    </table>

    <div class="form buttons">
      <%= f.submit("Create A User") %>
    </div>
  <% end %>
</div>
